.header-top {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: start; /* Start alignment horizontally */
    width: 100%; /* Full width */
    background-color: #333; /* Optional: background color for the top bar */
}
iframe{
    margin-right:15px;
}
main{
    background-color:#D8CDA0;
    margin-left:50px;
      padding-left: 100px;
}

 h1, h2, h3, p, body {
  background-color:#D8CDA0;
    padding-bottom: 10px; /* Removed right padding, as it's not generally needed */
}

/* Add a background color to the whole page */
 ul, li {
    background-color: #6C6650;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

#logo {
    display: flex; /* Use flexbox inside logo */
    align-items: center; /* Align the logo image vertically */
    margin: 10px; /* Add some margin for spacing */
}

#logo img {
    width: 150px; /* Fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
}

#top-banner {
    flex-grow: 1; /* Allow banner to take the remaining space */
    display: flex; /* Use flexbox for the banner */
    align-items: center; /* Align the banner image vertically */
    height: 150px; /* Set a fixed height for the banner */
    overflow: hidden; /* Hide the overflowed part of the banner image */
}

#top-banner img {
    width: auto; /* Auto width for the image */
    height: 100%; /* Full height of the banner container */
    min-width: 100%; /* Ensure it covers the container */
    object-fit: cover; /* Cover the area without losing aspect ratio */
}

nav {
    background-color: #333;  /* Background Color */
     
}

nav ul {
    list-style: none;  /* Remove bullet points */
    padding: 0;  /* Remove padding */
    margin: 0;  /* Remove margin */
    display: flex;  /* Use Flexbox */
    justify-content: center;  /* Center items horizontally */
}

nav ul li {
    font-size: 24px;  /* Increased Font size */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-grow: 1;  /* Allow it to grow and consume space */
    text-align: center;  /* Center the text */
}

nav ul li a {
    color: #fff;  /* Link Color */
    text-decoration: none;  /* Remove underline */
    padding: 8px 16px;  /* Add some padding */
    display: block;  /* Make it block to occupy the whole space */
}

/* Add hover effect */
nav ul li a:hover {
    background-color: 	 #a0d8cd;  /* Background Color on Hover */
    border-radius: 5px;  /* Rounded Corners */
      transition: background-color 0.2s ease, color 0.2s ease;
}
/* To apply Roboto font to your navigation headers */
nav ul li {
    font-family: 'Roboto', sans-serif; /* Roboto font with a sans-serif fallback */
    font-size: 24px;  
    flex-grow: 1;
    text-align: center;
}


#header-image img {

    width: 100vw;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
  
}
