/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding-bottom: 50px; /* Removed right padding, as it's not generally needed */
}

/* Add a background color to the whole page */
body {
    background-color: #e0cbcb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

/* Style the top navigation panel */
#top-nav {
    background-color: #5f0e0e;
    color: rgb(153, 116, 116);
    text-align: center;
    padding: 1em;
}

/* Link Styles */
#top-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

/* Main Content */
/* Merged similar properties into a single rule set */
#main-content, main {
    margin-left: 210px; /* Same as side menu width + a little extra spacing */
    padding: 1px;
    width: calc(100% - 200px); /* Reduce the width by the width of the side menu */
    display: flex;
    flex-direction: column;
    align-items: center;
}
