 /* Sidebar Styles */
        .sidebar {
            width: 100px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #f4f4f4;
            overflow-x: hidden;
            padding-top: 20px;
        }
        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #333;
          background-color: #f4f4f4;
            display: block;
        }
        .sidebar a:hover {
            color: #007bff;
        }
        .main-content {
            margin-left: 100px; /* Adjust main content position */
        }
