 /* Sidebar Styles */
        .sidebar {
            width: 100px;
            position: absolute;
            left: 0;
            top: 110px;
            height: 100vh;
            overflow-x: hidden;
            padding-top: 500px;
        }
        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
         font-family: 'Roboto', sans-serif; 
            color: #333;
          background-color:#e0cbcb;
            display: block;
        }
        .sidebar a:hover {
         background-color:#6f5d5d;
            color: #555555;
         
        }
        .main-content {
            margin-left: 100px; /* Adjust main content position */
        }
